{% extends 'base.html.twig' %}

{% block title %}Hello AnnimalController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">

        <div>
            <form action="">
                <input type="text">
                <button>Search</button>
            </form>
        </div>
        <h2><a href="/add" class="btn btn-success " >Thêm Mới</a></h2>
        <table class="table">
            <thead>
            <tr>
                <th>id
                <th>
                <th>name
                <th>
                <th>color
                <th>
                <th>weight
                <th>
                <th><a href="">Action</a>
                <th>
            </tr>
            </thead>
            <tbody>
            {% for an in An %}
                <tr>
                    <th>{{ an.id }}
                    <th>
                    <th>{{ an.name }}
                    <th>
                    <th>{{ an.color }}
                    <th>
                    <th>{{ an.weight }}
                    <th>
                    <th><a href="/animal/{{an.id}}">show</a>
                        <a href="/animal/edit/{{ an.id }}" class="btn btn-light">Edit</a>
                        <a href="/animal/delete/{{ an.id }}" class="btn btn-danger">Delete</a>

                    <th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
